<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>站点管理</title>
  <script src="../lib/vue.js"></script>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="app">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">站点管理</h3>
    </div>
    <div class="panel-body form-inline">
      <label>
        Id:
        <input type="text" class="form-control" v-model="id">
      </label>
      <label>
        Name:
        <input type="text" class="form-control" v-model="name" @click.keyup.entry="add">
      </label>

      <input type="button" value="新增" class="btn btn-primary" @click="add">
      <label>
        搜索关键字:
        <input type="text" class="form-control" v-model="keywords" v-focus>
      </label>
    </div>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Ctime</th>
      <th>Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(item,index) in search_keywords(keywords)" :key="item.id">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.ctime | DateFormat('yyyy-mm-dd')}}</td>
      <td>
        <a href="" @click.prevent="del(index)">删除</a>
      </td>
    </tr>

    </tbody>
  </table>

</div>
<script type="module">

  //自定义全局按键修饰符

  Vue.config.keyCodes.f3 = 113
  Vue.directive('focus', {
    bind: function () {

    },
    inserted: function (el) {
      el.focus()
    },
    update: function () {

    }
  })
</script>
<script>

  let vm = new Vue(
    {
      el: '#app',
      data: {
        id: '',
        name: '',
        keywords: '',
        list:
          [
            {
              id: 1, name: '爱奇艺', ctime: new Date()
            },
            {
              id: 2, name: '豆瓣', ctime: new Date()
            },
            {
              id: 3, name: '优酷', ctime: new Date()
            },
            {
              id: 4, name: '腾讯视频', ctime: new Date()
            }
          ]
      },
      methods: {
        del (index) {
          console.log(index)
          this.list.splice(index, 1)
        }
        ,
        add () {
          const info = {id: this.id, name: this.name, ctime: new Date()}
          this.list.push(info)
          this.id = this.name = ''
        },
        search_keywords (keywords) {
          return this.list.filter(item => {
            if (item.name.includes(keywords)) {
              return item
            }
          })
        }
      },
      filters: {
        /**
         * @return {string}
         */
        DateFormat: function (dateStr, pattern = '') {
          let dt = new Date(dateStr)
          let y = dt.getFullYear()
          let m = (dt.getMonth() + 1).toString().padStart(2, '0')
          let d = dt.getDate().toString().padStart(2, '0')

          if (pattern === 'yyyy-mm-dd') {
            return `${y}-${m}-${d}`
          } else {
            let hh = dt.getHours().toString().padStart(2, '0')
            let mm = dt.getMinutes().toString().padStart(2, '0')
            let ss = dt.getSeconds().toString().padStart(2, '0')

            return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
          }
        }
      }
    }
  )
</script>
</body>
</html>
